<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AuthentificationClientServlet</servlet-name>
  	<display-name>AuthentificationClientServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.AuthentificationClientServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InscriptionClientServlet</servlet-name>
  	<display-name>InscriptionClientServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.InscriptionClientServlet</servlet-class>
  	
  </servlet>
  <servlet>
  	<servlet-name>RecuperationCompteClient</servlet-name>
  	<display-name>RecuperationCompteClient</display-name>
  	<description></description>
  	<servlet-class>com.servlets.RecuperationCompteClient</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VoirVoitureServlet</servlet-name>
  	<display-name>VoirVoitureServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.VoirVoitureServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FactureServlet</servlet-name>
  	<display-name>FactureServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.FactureServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProfilClient</servlet-name>
  	<display-name>ProfilClient</display-name>
  	<description></description>
  	<servlet-class>com.servlets.ProfilClient</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModifierProfilServlet</servlet-name>
  	<display-name>ModifierProfilServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.ModifierProfilServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReclamationServlet</servlet-name>
  	<display-name>ReclamationServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.ReclamationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RechercheVoituresServlet</servlet-name>
  	<display-name>RechercheVoituresServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.RechercheVoituresServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReservationClientServlet</servlet-name>
  	<display-name>ReservationClientServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.ReservationClientServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TraitementReservationServlet</servlet-name>
  	<display-name>TraitementReservationServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.TraitementReservationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeconnexionClient</servlet-name>
  	<display-name>DeconnexionClient</display-name>
  	<description></description>
  	<servlet-class>com.servlets.DeconnexionClient</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HistoriqueReservation</servlet-name>
  	<display-name>HistoriqueReservation</display-name>
  	<description></description>
  	<servlet-class>com.servlets.HistoriqueReservation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginPersonelServlet</servlet-name>
  	<display-name>LoginPersonelServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.LoginPersonelServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TableauServlet</servlet-name>
  	<display-name>TableauServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.TableauServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TelechargementFactureServlet</servlet-name>
  	<display-name>TelechargementFactureServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.TelechargementFactureServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TelechargementServlet</servlet-name>
  	<display-name>TelechargementServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.TelechargementServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RecuperationComptePersonnel</servlet-name>
  	<display-name>RecuperationComptePersonnel</display-name>
  	<description></description>
  	<servlet-class>com.servlets.RecuperationComptePersonnel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VoitureServlet</servlet-name>
  	<display-name>VoitureServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.VoitureServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DetailsVoitureServlet</servlet-name>
  	<display-name>DetailsVoitureServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.DetailsVoitureServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>recupereVoitureServlet</servlet-name>
  	<display-name>recupereVoitureServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.recupereVoitureServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ValiderModificationServlet</servlet-name>
  	<display-name>ValiderModificationServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.ValiderModificationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletVoitureSupprimer</servlet-name>
  	<display-name>ServletVoitureSupprimer</display-name>
  	<description></description>
  	<servlet-class>com.servlets.ServletVoitureSupprimer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListeClientsServlet</servlet-name>
  	<display-name>ListeClientsServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.ListeClientsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DetailsClientServlet</servlet-name>
  	<display-name>DetailsClientServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.DetailsClientServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SupprimerClientServlet</servlet-name>
  	<display-name>SupprimerClientServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.SupprimerClientServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>reccupererClient</servlet-name>
  	<display-name>reccupererClient</display-name>
  	<description></description>
  	<servlet-class>com.servlets.reccupererClient</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModifierClientServlet</servlet-name>
  	<display-name>ModifierClientServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.ModifierClientServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertClientServlet</servlet-name>
  	<display-name>InsertClientServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.InsertClientServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HistoriqueServlet</servlet-name>
  	<display-name>HistoriqueServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.HistoriqueServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>confirmReservation</servlet-name>
  	<display-name>confirmReservation</display-name>
  	<description></description>
  	<servlet-class>com.servlets.confirmReservation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>rejectReservation</servlet-name>
  	<display-name>rejectReservation</display-name>
  	<description></description>
  	<servlet-class>com.servlets.rejectReservation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReclamationServletPersonnel</servlet-name>
  	<display-name>ReclamationServletPersonnel</display-name>
  	<description></description>
  	<servlet-class>com.servlets.ReclamationServletPersonnel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FacturationServlet</servlet-name>
  	<display-name>FacturationServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.FacturationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>selectionneReservation</servlet-name>
  	<display-name>selectionneReservation</display-name>
  	<description></description>
  	<servlet-class>com.servlets.selectionneReservation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AjouterFacture</servlet-name>
  	<display-name>AjouterFacture</display-name>
  	<description></description>
  	<servlet-class>com.servlets.AjouterFacture</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Recuperationfacture</servlet-name>
  	<display-name>Recuperationfacture</display-name>
  	<description></description>
  	<servlet-class>com.servlets.Recuperationfacture</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModifierFacturationServlet</servlet-name>
  	<display-name>ModifierFacturationServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.ModifierFacturationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>supprimerFacture</servlet-name>
  	<display-name>supprimerFacture</display-name>
  	<description></description>
  	<servlet-class>com.servlets.supprimerFacture</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ParametreServlet</servlet-name>
  	<display-name>ParametreServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.ParametreServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModifierPersonnelServlet</servlet-name>
  	<display-name>ModifierPersonnelServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.ModifierPersonnelServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RechercheVoituresServletPersonnel</servlet-name>
  	<display-name>RechercheVoituresServletPersonnel</display-name>
  	<description></description>
  	<servlet-class>com.servlets.RechercheVoituresServletPersonnel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TraitementReservationServletPersonnel</servlet-name>
  	<display-name>TraitementReservationServletPersonnel</display-name>
  	<description></description>
  	<servlet-class>com.servlets.TraitementReservationServletPersonnel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StatistiquesServlet</servlet-name>
  	<display-name>StatistiquesServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.StatistiquesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AffichagePersonnel</servlet-name>
  	<display-name>AffichagePersonnel</display-name>
  	<description></description>
  	<servlet-class>com.servlets.AffichagePersonnel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AjoutVoituresServlet</servlet-name>
  	<display-name>AjoutVoituresServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.AjoutVoituresServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>processPayment</servlet-name>
  	<display-name>processPayment</display-name>
  	<description></description>
  	<servlet-class>com.servlets.processPayment</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AuthentificationClientServlet</servlet-name>
  	<url-pattern>/AuthentificationClientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InscriptionClientServlet</servlet-name>
  	<url-pattern>/InscriptionClientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RecuperationCompteClient</servlet-name>
  	<url-pattern>/RecuperationCompteClient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VoirVoitureServlet</servlet-name>
  	<url-pattern>/VoirVoitureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FactureServlet</servlet-name>
  	<url-pattern>/FactureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProfilClient</servlet-name>
  	<url-pattern>/ProfilClient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModifierProfilServlet</servlet-name>
  	<url-pattern>/ModifierProfilServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReclamationServlet</servlet-name>
  	<url-pattern>/ReclamationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RechercheVoituresServlet</servlet-name>
  	<url-pattern>/RechercheVoituresServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReservationClientServlet</servlet-name>
  	<url-pattern>/ReservationClientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TraitementReservationServlet</servlet-name>
  	<url-pattern>/TraitementReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeconnexionClient</servlet-name>
  	<url-pattern>/DeconnexionClient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HistoriqueReservation</servlet-name>
  	<url-pattern>/HistoriqueReservation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginPersonelServlet</servlet-name>
  	<url-pattern>/LoginPersonelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TableauServlet</servlet-name>
  	<url-pattern>/TableauServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TelechargementFactureServlet</servlet-name>
  	<url-pattern>/TelechargementFactureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TelechargementServlet</servlet-name>
  	<url-pattern>/TelechargementServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RecuperationComptePersonnel</servlet-name>
  	<url-pattern>/RecuperationComptePersonnel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VoitureServlet</servlet-name>
  	<url-pattern>/VoitureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DetailsVoitureServlet</servlet-name>
  	<url-pattern>/DetailsVoitureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>recupereVoitureServlet</servlet-name>
  	<url-pattern>/recupereVoitureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ValiderModificationServlet</servlet-name>
  	<url-pattern>/ValiderModificationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletVoitureSupprimer</servlet-name>
  	<url-pattern>/ServletVoitureSupprimer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListeClientsServlet</servlet-name>
  	<url-pattern>/ListeClientsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DetailsClientServlet</servlet-name>
  	<url-pattern>/DetailsClientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SupprimerClientServlet</servlet-name>
  	<url-pattern>/SupprimerClientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>reccupererClient</servlet-name>
  	<url-pattern>/reccupererClient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModifierClientServlet</servlet-name>
  	<url-pattern>/ModifierClientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertClientServlet</servlet-name>
  	<url-pattern>/InsertClientServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HistoriqueServlet</servlet-name>
  	<url-pattern>/HistoriqueServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>confirmReservation</servlet-name>
  	<url-pattern>/confirmReservation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>rejectReservation</servlet-name>
  	<url-pattern>/rejectReservation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReclamationServletPersonnel</servlet-name>
  	<url-pattern>/ReclamationServletPersonnel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FacturationServlet</servlet-name>
  	<url-pattern>/FacturationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>selectionneReservation</servlet-name>
  	<url-pattern>/selectionneReservation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AjouterFacture</servlet-name>
  	<url-pattern>/AjouterFacture</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Recuperationfacture</servlet-name>
  	<url-pattern>/Recuperationfacture</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModifierFacturationServlet</servlet-name>
  	<url-pattern>/ModifierFacturationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>supprimerFacture</servlet-name>
  	<url-pattern>/supprimerFacture</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ParametreServlet</servlet-name>
  	<url-pattern>/ParametreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModifierPersonnelServlet</servlet-name>
  	<url-pattern>/ModifierPersonnelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RechercheVoituresServletPersonnel</servlet-name>
  	<url-pattern>/RechercheVoituresServletPersonnel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TraitementReservationServletPersonnel</servlet-name>
  	<url-pattern>/TraitementReservationServletPersonnel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StatistiquesServlet</servlet-name>
  	<url-pattern>/StatistiquesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AffichagePersonnel</servlet-name>
  	<url-pattern>/AffichagePersonnel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AjoutVoituresServlet</servlet-name>
  	<url-pattern>/AjoutVoituresServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>processPayment</servlet-name>
  	<url-pattern>/processPayment</url-pattern>
  </servlet-mapping>
  
</web-app>
